@model IEnumerable<Order>
@{
    ViewData["title"] = "Đơn hàng đã đặt";
}
<h1>List Orders</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Order Code</th>
            <th scope="col">Order Status</th>
            <th scope="col">Order Date</th>
            <th scope="col">UserName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.OrderCode</td>
                <td>
                    @if (@item.Status == 1)
                    {
                        <span class="text text-success">Đơn hàng Mới</span>
                    }
                    else
                    {
                        <span class="text text-danger">Đơn hàng Thành Công</span>
                    }

                </td>
                <td>@item.CreatedDate</td>
                <td>@item.UserName</td>

                <td>
                    <a asp-action="" class="btn btn-warning" asp-controller="Order" asp-route-Id="@item.OrderCode">
                        Edit
                    </a>
                </td>

            </tr>

        }
    </tbody>
</table>